<%= form_for @wager do |f| %>
  <fieldset>

  	<div class="row">
      <div class="large-12 columns">
      	<label>Title</label>
  			<%= f.text_field :title, placeholder: "The Bet To End All Bets" %>
  		</div>
  	</div>

  	<div class="row">
  		<div class="large-4 columns">
  			<label>With</label>
  				<%#= f.text_field :guest, placeholder: "Choose a Friend" %>
  		</div>
  		<div class="large-8 columns">
  		</div>
  	</div>

  	<div class="row">
			<div class="large-12 columns">
        <label>Description</label>
        <%= f.text_area :description, size: "60x12", placeholder: "What's all this about?" %>
      </div>
  	</div>

  	<div class="row">  
      <div class="large-5 columns">
        <div class="row collapse">
          <h4>Your Terms</h4>
				</div>
      
        <%= f.fields_for :terms do |term_form| %>
          <%= term_form.label :host_criterion, 'Term:' %>
          <%= term_form.text_field :host_criterion %>
        <% end %>
      </div>

      <div class="large-5 columns">
        <div class="row collapse">
          <h4>Their Terms</h4>
        </div>
          
        <%= f.fields_for :terms do |term_form| %>
          <%= term_form.label :guest_criterion, 'Term:' %>
          <%= term_form.text_field :guest_criterion %>
        <% end %>  
      </div>
	  
    </div>
  

  	<div class="row">
    	<div class="large-8 columns">
    	</div>
    	<div class="large-4 columns">
    		<%= f.submit "Create Stub", class: "button" %>
    	</div>
  	</div>

	</fieldset>
<% end %>
