<div class="row small-offset-2 small-10 columns">
	<h1>Holla at your boy: Index page!!!</h1>
</div>

<div class="row">
	
	<div class="large-12 columns record">
		<h2>Record</h2>
		<h4>0-0-0</h4>
	</div>

	<ul class="button-group">
	  <li><%= link_to 'Open', wagers_path, :class => "button secondary" %></li>
	  <li><%= link_to 'New', new_wager_path, :class => "button secondary" %></li>
	  <li><a href="#" class="button secondary">Settings</a></li>
	</ul>

	<div class="row large-10">
		<h2>Open Wagers</h2>
		
		<table>
		  <thead>
		    <tr>
		      <th width="200">Title</th>
		      <th>With</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
			
		  	<% @open_wagers.each do |wager| %>

		    <tr>
		      <td>
		      	<%= link_to( wager_path(wager) ) do %>
  					<strong><%= wager.title %></strong>
				<% end %>
		      </td>
		      <td>John Doe</td>
		      <td>
		      	<ul class="button-group round even-3">
				  <li><a href="#" class="button success">Won</a></li>
				  <li><a href="#" class="button alert">Lost</a></li>
				  <li><a href="#" class="button alert pushButton">Pushed</a></li>
				</ul>
		      </td>
		      <td><%= link_to 'Edit', edit_wager_path(wager) %></td>
		      <td>Delete</td>
		    </tr>
		    
		    <% end %>

		  </tbody>

		</table>

	</div>

</div>
